<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CodeGrinder Quiz Console</title>
  <script src="vue.js"></script>
  <style>
    label, input { display: block; }
    input.text { margin-bottom: 12px; width: 95%; padding: .4em; }
    textarea { width: 90%; }
    fieldset { padding: 0; border: 0; margin-top: 25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    td, th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .pointer { cursor: pointer; }
    .ui-dialog .ui-state-error { padding: .3em; }

    .modal-mask {
      position: fixed;
      z-index: 9998;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
      display: table;
      transition: opacity .3s ease;
    }

    .modal-wrapper {
      display: table-cell;
      vertical-align: middle;
    }

    .modal-container {
      width: 500px;
      margin: 0px auto;
      padding: 20px 30px;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
      transition: all .3s ease;
      font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
      margin-top: 0;
      color: #42b983;
    }

    .modal-body {
      margin: 20px 0;
    }

    .modal-default-button {
      float: right;
      padding: 8px;
      margin-left: 10px;
    }

    .modal-footer {
      padding-bottom: 30px;
    }

    /*
     * The following styles are auto-applied to elements with
     * transition="modal" when their visibility is toggled
     * by Vue.js.
     *
     * You can easily play with the modal transition by editing
     * these styles.
     */

    .modal-enter {
      opacity: 0;
    }
  </style>
</head>

<body>

<div id="app">

  <!-------------------->
  <!-- Quizzes page   -->
  <!-------------------->

  <div v-if="currentPage == 'quizzes'">
    <h1>CodeGrinder Quiz Console</h1>

    <table>
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Note</th>
          <th>Weight</th>
          <th>Participation threshold</th>
          <th>Participation credit</th>
          <th>Created at</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="quiz in quizzes">
          <td><button v-on:click="loadQuestions(quiz, false)">Open</button></td>
          <td>{{ quiz.note }}</td>
          <td>{{ rounded(quiz.weight) }}</td>
          <td>{{ rounded(quiz.participationThreshold) }}</td>
          <td>{{ rounded(quiz.participationPercent) }}</td>
          <td>{{ timestamp(quiz.createdAt) }}</td>
          <td><button v-on:click="openQuiz = quiz">Edit</button></td>
          <td v-if="quiz.isGraded">&nbsp;</td>
          <td v-if="!quiz.isGraded"><button v-on:click="gradeQuiz(quiz)">Grade</button></td>
        </tr>
      </tbody>
    </table>

    <button v-on:click="openQuiz = newQuiz()">Create a new quiz</button>
  </div>

  <modal v-if="currentPage == 'quizzes' && openQuiz">
    <h3 slot="header">
      <span v-if="openQuiz.id">Edit a quiz</span>
      <span v-if="!openQuiz.id">Create a quiz</span>
    </h3>
    <div slot="body">
      <form>
        <fieldset>
          <label for="quiz_note">Note (the name of this quiz, normally the date it was created)</label>
          <textarea rows="5" name="quiz_note" v-model="openQuiz.note"></textarea>
          <br>

          <label for="quiz_weight">Weight relative to other quizzes</label>
          <input type="number" name="quiz_weight" min="0" v-model.number="openQuiz.weight">
          <br>

          <label for="quiz_participationPercent">Student gets this fraction of points just for participating</label>
          <input type="number" name="quiz_participationPercent" min="0" max="1" step="0.01" v-model.number="openQuiz.participationPercent">
          <br>

          <label for="quiz_participationThreshold">Student must answer this fraction of questions to get participation points</label>
          <input type="number" name="quiz_participationThreshold" min="0" max="1" step="0.01" v-model.number="openQuiz.participationThreshold">
        </fieldset>
      </form>
    </div>
    <div slot="footer">
      <button class="modal-default-button" @click="saveQuiz(openQuiz)" v-if="openQuiz.id">Save</button>
      <button class="modal-default-button" @click="saveQuiz(openQuiz)" v-if="!openQuiz.id">Create</button>
      <button class="modal-default-button" @click="deleteQuiz(openQuiz)" v-if="openQuiz.id">Delete</button>
      <button class="modal-default-button" @click="loadQuizzes(false)">Cancel</button>
    </div>
  </modal>

  <!-------------------->
  <!-- Questions page -->
  <!-------------------->

  <div v-if="currentPage == 'questions'">
    <h1>CodeGrinder Question Console</h1>

    <p><button v-on:click="loadQuizzes(false)">Back to quizzes</button></p>
    <p>Quiz: {{ openQuiz.note }} created at {{ timestamp(openQuiz.createdAt) }}</p>
    <table>
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>#</th>
          <th>Note</th>
          <th>Weight</th>
          <th>Points for attempt</th>
          <th>Choices</th>
          <th>Created at</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="question in questions">
          <td><button v-on:click="loadModeration(question)">Open</button></td>
          <td>{{ question.number }}</td>
          <td>{{ question.note }}</td>
          <td>{{ rounded(question.weight) }}</td>
          <td>{{ rounded(question.pointsForAttempt) }}</td>
          <td v-html="questionChoicesSummary(question)"></td>
          <td>{{ timestamp(question.createdAt) }}</td>
          <td><button v-on:click="openQuestion = question">Edit</button></td>
        </tr>
      </tbody>
    </table>

    <button v-on:click="openQuestion = newQuestion()">Create a new question</button>
  </div>

  <modal v-if="currentPage == 'questions' && openQuestion">
    <h3 slot="header">
      <span v-if="openQuestion.id">Edit a question</span>
      <span v-if="!openQuestion.id">Create a question</span>
    </h3>
    <div slot="body">
      <form>
        <fieldset>
          <label for="question_note">Note</label>
          <textarea rows="5" name="question_note" v-model="openQuestion.note"></textarea>
          <br>

          <label for="question_weight">Weight relative to other questions</label>
          <input type="number" name="question_weight" min="0" v-model.number="openQuestion.weight">
          <br>

          <label for="question_pointsForAttempt">Points received just for answering</label>
          <input type="number" name="question_pointsForAttempt" min="0" max="100" v-model.number="openQuestion.pointsForAttempt">
          <br>

          <label for="question_isMultipleChoice">Is multiple choice?</label>
          <input type="checkbox" name="question_isMultipleChoice" v-model="openQuestion.isMultipleChoice" v-on:change="toggleMultiple(openQuestion)">
        </fieldset>
        <fieldset>
          <legend v-if="openQuestion.isMultipleChoice">List all options and the points each option earns</legend>
          <legend v-if="!openQuestion.isMultipleChoice">List all correct answers and the points each one earns</legend>
          <table>
            <thead>
              <tr><th>Answer</th><th>Points</th></tr>
            </thead>
            <tbody>
              <tr v-for="answer in openQuestion.answers">
                <td><textarea rows="2" v-model="answer.answer"></textarea></td>
                <td><input type="number" v-model.number="answer.points"></td>
              </tr>
            </tbody>
          </table>
        </fieldset>
        <div>
          <button v-on:click.prevent="openQuestion.answers.push({answer:'', points:0.0})">Add an answer</button>
          <button v-on:click.prevent="openQuestion.answers.pop()" v-if="openQuestion.answers.length > 1">Remove last answer</button>
        </div>
      </form>
    </div>
    <div slot="footer">
      <button class="modal-default-button" @click="saveQuestion(openQuestion)" v-if="openQuestion.id">Save</button>
      <button class="modal-default-button" @click="saveQuestion(openQuestion)" v-if="!openQuestion.id">Create</button>
      <button class="modal-default-button" @click="deleteQuestion(openQuestion)" v-if="openQuestion.id">Delete</button>
      <button class="modal-default-button" @click="loadQuestions(openQuiz, false)">Cancel</button>
    </div>
  </modal>

  <!------------------------>
  <!-- Moderation page    -->
  <!------------------------>

  <div v-if="currentPage == 'moderation'">
    <h1>CodeGrinder Question Moderation Console</h1>

    <p><button v-on:click="loadQuestions(openQuiz, false)">Back to questions</button></p>
    <p>
      Question: {{ openQuestion.note + ' create at ' + timestamp(openQuestion.createdAt) }}
      <span v-if="!openQuestion.openedAt">(not started yet)</span>
    </p>
    <p>
      Set countdown to:
      <button v-on:click="setCountdown(1)">0s</button>
      <button v-on:click="setCountdown(30)">30s</button>
      <button v-on:click="setCountdown(90)">90s</button>
      <button v-on:click="setCountdown(180)">3m</button>
      <button v-on:click="setCountdown(300)">5m</button>
      <button v-on:click="setCountdown(500)">10m</button>
      {{ moderationCountdown }}
    </p>
    <table>
      <thead>
        <tr>
          <th>Answer</th>
          <th>Responses</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="response in responses">
          <td>{{ response.response }}</td>
          <td class="pointer" :title="response.students.join('\n')">{{ response.students.length }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <modal v-if="errorMessage">
    <h3 slot="header">The server reported an error</h3>
    <div slot="body">{{ errorMessage }}</div>
    <div slot="footer">
      <button class="modal-default-button" @click="errorMessage = null">Dismiss</button>
    </div>
  </modal>

</div>

<script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              default header
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              default body
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              default footer
              <button class="modal-default-button" @click="$emit('close')">
                OK
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>

<script>
    var QueryString = (function () {
        // this function is anonymous and is executed immediately
        // the return value is assigned to QueryString
        var query_string = {};
        var query = window.location.search.substring(1);
        var vars = query.split('&');
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split('=');
            var key = pair[0];
            var value = decodeURIComponent(pair[1]);
            var old_value = query_string[key];

            // first entry with this name, store value as a string
            if (typeof old_value === 'undefined') {
                query_string[key] = value;

            // second entry with this name, convert into a list
            } else if (typeof old_value === 'string') {
                query_string[key] = [ old_value, value ];

            // third or later entry with this name, append to list
            } else {
                old_value.push(value);
            }
        } 
        return query_string;
    })();
    Date.prototype.toYMD = function() {
        var pad = function (n) {
            return n < 10 ? '0' + n : '' + n;
        };
        return this.getFullYear() +
            '-' + pad(this.getMonth() + 1) +
            '-' + pad(this.getDate());
    };
    Date.prototype.toYMDT = function() {
        var pad = function (n) {
            return n < 10 ? '0' + n : '' + n;
        };
        return this.getFullYear() +
            '-' + pad(this.getMonth() + 1) +
            '-' + pad(this.getDate()) +
            ' ' + pad(this.getHours()) +
            ':' + pad(this.getMinutes()) +
            ':' + pad(this.getSeconds());
    };
    var closedAt = function (question) {
        if (!question.openedAt)
            return null;
        return new Date(new Date(question.openedAt).getTime() + question.openSeconds * 1000);
    };
    var sortQuizzes = function (lst) {
        lst.sort(function (a, b) {
            if (new Date(a.createdAt) < new Date(b.createdAt)) return 1;
            if (new Date(a.createdAt) > new Date(b.createdAt)) return -1;
            return 0;
        });
    };
    var sortQuestions = function (lst) {
        lst.sort(function (a, b) {
            if (a.number < b.number) return -1;
            if (a.number > b.number) return 1;
            return 0;
        });
    };

    Vue.component('modal', { template: '#modal-template' });
    var app = new Vue({
        el: '#app',
        data: {
            origin: document.location.origin + '/v2',
            assignmentID: Number(QueryString.assignment),
            clockDiff: 0,
            errorMessage: null,
            liveTimes: [],
            refreshes: [],
            liveTimes: [],
            quizzes: [],
            openQuiz: null,
            questions: [],
            openQuestion: null,
            responses: [],
            moderationCountdown: '',
            currentPage: ''
        },
        methods: {
            //
            // XMLHttpRequest helpers
            //
            get: function (url, callback) {
                var that = this;
                var req = new XMLHttpRequest();
                req.open('GET', url);
                req.setRequestHeader('Accept', 'application/json');
                req.onload = function () {
                    that.updateClockDiff(this);
                    if (req.readyState == 4 && req.status == "200")
                        callback(JSON.parse(this.response));
                    else
                        that.errorMessage = this.response;
                };
                req.send(null);
            },
            patch: function (url, obj, callback) {
                var that = this;
                var req = new XMLHttpRequest();
                req.open('PATCH', url);
                req.setRequestHeader('Accept', 'application/json');
                req.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
                req.onload = function () {
                    that.updateClockDiff(this);
                    if (req.readyState == 4 && req.status == "200")
                        callback(JSON.parse(this.response));
                    else
                        that.errorMessage = this.response;
                };
                req.send(JSON.stringify(obj));
            },
            post: function (url, obj, callback) {
                var that = this;
                var req = new XMLHttpRequest();
                req.open('POST', url);
                req.setRequestHeader('Accept', 'application/json');
                req.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
                req.onload = function () {
                    that.updateClockDiff(this);
                    if (req.readyState == 4 && req.status == "200")
                        callback(JSON.parse(this.response));
                    else
                        that.errorMessage = this.response;
                };
                req.send(JSON.stringify(obj));
            },
            del: function (url, callback) {
                var that = this;
                var req = new XMLHttpRequest();
                req.open('DELETE', url);
                req.addEventListener('load', function () {
                    that.updateClockDiff(this);
                    if (req.readyState == 4 && req.status == "200")
                        callback();
                    else
                        that.errorMessage = this.response;
                });
                req.send(null);
            },

            //
            // Quizzes page
            //
            loadQuizzes: function (autoOpen) {
                var that = this;
                this.currentPage = 'quizzes';
                this.openQuiz = null;
                this.refreshes = [];
                this.liveTimes = [];
                this.get(this.origin + '/assignments/' + this.assignmentID + '/quizzes', function (lst) {
                    sortQuizzes(lst);
                    that.quizzes = lst;

                    // automatically open the new quiz dialog if no quiz was created within the last 12 hours
                    if (autoOpen && (that.quizzes.length == 0 || new Date().getTime() - new Date(that.quizzes[0].createdAt).getTime() > 12*60*60*1000)) {
                        that.openQuiz = that.newQuiz();
                    }
                });
            },
            newQuiz: function () {
                var quiz = {};
                quiz.id = 0;
                quiz.assignmentID = this.assignmentID;
                quiz.note = new Date().toYMD();
                if (this.quizzes.length > 0) {
                    var prev = this.quizzes[0];
                    quiz.weight = prev.weight;
                    quiz.participationThreshold = prev.participationThreshold;
                    quiz.participationPercent = prev.participationPercent;
                } else {
                    quiz.weight = 1.0;
                    quiz.participationThreshold = 0.50;
                    quiz.participationPercent = 0.0;
                }
                quiz.isGraded = false;
                return quiz;
            },
            placeQuiz: function (elt) {
                var placed = false
                for (var i = 0; i < this.quizzes.length; i++) {
                    if (this.quizzes[i].id == elt.id) {
                        Vue.set(this.quizzes, i, elt);
                        placed = true;
                        break;
                    }
                }
                if (!placed)
                    this.quizzes.push(elt);
                sortQuizzes(this.quizzes);
            },
            saveQuiz: function (quiz) {
                quiz.assignmentID = this.assignmentID;
                var that = this;
                var oldID = quiz.id;
                var callback = function (elt) {
                    that.placeQuiz(elt);
                    if (!oldID)
                        that.loadQuestions(elt, true);
                };

                that.openQuiz = null;
                if (!quiz.id)
                    this.post(this.origin + '/quizzes', quiz, callback);
                else
                    this.patch(this.origin + '/quizzes/' + quiz.id, quiz, callback);
            },
            gradeQuiz: function (quiz) {
                quiz.isGraded = true;
                this.saveQuiz(quiz);
            },
            deleteQuiz: function (quiz) {
                var that = this;
                this.del(this.origin + '/quizzes/' + quiz.id, function () {
                    for (var i = 0; i < that.quizzes.length; i++) {
                        if (that.quizzes[i].id == quiz.id) {
                            that.quizzes.splice(i, 1);
                            break;
                        }
                    }
                });
                that.openQuiz = null;
            },

            //
            // Questions page
            //
            loadQuestions: function (quiz, autoOpen) {
                var that = this;
                this.openQuestion = null;
                this.currentPage = 'questions';
                this.openQuiz = quiz;
                this.refreshes = [];
                this.liveTimes = [];

                this.get(this.origin + '/quizzes/' + this.openQuiz.id + '/questions', function (lst) {
                    sortQuestions(lst);
                    that.questions = lst;

                    // automatically open the new question dialog if no question was created within the last 12 hours
                    if (autoOpen && (that.questions.length == 0 || new Date().getTime() - new Date(that.questions[that.questions.length-1].createdAt).getTime() > 12*60*60*1000)) {
                        that.openQuestion = that.newQuestion();
                    }
                });
            },
            newQuestion: function () {
                var question = {};
                question.id = 0;
                question.quizID = this.openQuiz.id;
                question.number = this.questions.length + 1;
                question.note = 'Question #' + question.number;
                if (this.questions.length > 0) {
                    var prev = this.questions[this.questions.length - 1];
                    question.weight = prev.weight;
                    question.pointsForAttempt = prev.pointsForAttempt;
                    question.isMultipleChoice = prev.isMultipleChoice;
                } else {
                    question.weight = 1.0;
                    question.pointsForAttempt = 0.0;
                    question.isMultipleChoice = true;
                }
                question.answers = [];
                if (question.isMultipleChoice) {
                    question.answers.push({answer:'(a)', points:0.0});
                    question.answers.push({answer:'(b)', points:0.0});
                    question.answers.push({answer:'(c)', points:0.0});
                    question.answers.push({answer:'(d)', points:0.0});
                } else {
                    question.answers.push({answer:'', points:1.0});
                }
                question.openedAt = null;
                question.openSeconds = 0;
                return question;
            },
            questionChoicesSummary: function (question) {
                var elt = document.createElement('span');
                if (question.isMultipleChoice) {
                    var labels = [];
                    for (var i = 0; i < question.answers.length; i++) {
                        labels.push(question.answers[i].answer);
                    }
                    labels.sort();
                    for (var i = 0; i < labels.length; i++) {
                        if (i > 0)
                            elt.appendChild(document.createElement('br'));
                        elt.appendChild(document.createTextNode(labels[i]));
                    }
                } else {
                    elt.appendChild(document.createTextNode('(fill in the blank)'));
                }
                return elt.innerHTML;
            },
            toggleMultiple: function (question) {
                // just toggled the multiple choice box
                // swap defaults if the user has not done anything interesting
                if (question.isMultipleChoice) {
                    if (question.answers.length == 1 && question.answers[0].answer == '') {
                        // default multiple-choice answers
                        question.answers = [];
                        question.answers.push({answer:'(a)', points:0.0});
                        question.answers.push({answer:'(b)', points:0.0});
                        question.answers.push({answer:'(c)', points:0.0});
                        question.answers.push({answer:'(d)', points:0.0});
                    }
                } else {
                    if (question.answers.length == 4 &&
                        question.answers[0].answer == '(a)' &&
                        question.answers[1].answer == '(b)' &&
                        question.answers[2].answer == '(c)' &&
                        question.answers[3].answer == '(d)') {
                        // default fill-in-the-blank answer
                        question.answers = [];
                        question.answers.push({answer:'', points:1.0});
                    }
                }
            },
            placeQuestion: function (elt) {
                var placed = false;
                for (var i = 0; i < this.questions.length; i++) {
                    if (this.questions[i].id == elt.id) {
                        Vue.set(this.questions, i, elt);
                        placed = true;
                        break;
                    }
                }
                if (!placed)
                    this.questions.push(elt);
                sortQuestions(this.questions);
            },
            saveQuestion: function (question) {
                question.quizID = this.openQuiz.id;
                var that = this;
                var oldID = question.id;
                var callback = function (elt) {
                    that.placeQuestion(elt);

                    if (!oldID)
                        that.loadModeration(elt);
                };

                that.openQuestion = null;
                if (!question.id)
                    this.post(this.origin + '/questions', question, callback);
                else
                    this.patch(this.origin + '/questions/' + question.id, question, callback);
            },
            deleteQuestion: function (question) {
                var that = this;
                this.del(this.origin + '/questions/' + question.id, function () {
                    for (var i = 0; i < that.questions.length; i++) {
                        if (that.questions[i].id == question.id) {
                            that.questions.splice(i, 1);
                            break;
                        }
                    }
                });
                that.openQuestion = null;
            },

            //
            // Moderation page
            //
            loadModeration: function (question) {
                this.currentPage = 'moderation';
                this.openQuestion = question;
                this.moderationCountdown = '';
                this.responses = [];
                this.liveTimes = [[ 'moderationCountdown', closedAt(this.openQuestion) ]];
                this.refreshes = [ 'loadResponses' ];
            },
            loadResponses: function () {
                var that = this;
                this.get(this.origin + '/questions/' + this.openQuestion.id + '/responses', function (lst) {
                    var groups = {};
                    var uniqueResponses = [];
                    for (var i = 0; i < lst.length; i++) {
                        var response = lst[i].response;
                        var student = lst[i].name;
                        var students = groups[response];
                        if (!students) {
                            students = [];
                            groups[response] = students;
                            uniqueResponses.push(response);
                        }
                        students.push(student);
                    }
                    uniqueResponses.sort();

                    var summaries = [];
                    for (i = 0; i < uniqueResponses.length; i++) {
                        var elt = {};
                        elt.response = uniqueResponses[i];
                        elt.students = groups[elt.response];
                        elt.students.sort();
                        summaries.push(elt);
                    }
                    that.responses = summaries;
                });
            },
            setCountdown: function (seconds) {
                var that = this;
                this.openQuestion.openSeconds = seconds;
                this.patch(this.origin + '/questions/' + this.openQuestion.id, this.openQuestion, function (elt) {
                    that.placeQuestion(elt);
                    that.openQuestion = elt;
                    that.liveTimes = [[ 'moderationCountdown', closedAt(elt) ]];
                });
            },

            //
            // Generic helpers
            //
            rounded: function (n) {
                var s = n.toFixed(4);
                while (s.endsWith('0')) s = s.substring(0, s.length-1);
                if (s.endsWith('.')) s = s.substring(0, s.length-1);
                return s;
            },
            timestamp: function (d) {
                var stamp = new Date(d).toYMDT();
                if (new Date(d).toYMD() == new Date().toYMD()) {
                    stamp = new Date(d).toLocaleTimeString();
                }
                return stamp;
            },
            makeCountdown: function (time) {
                var now = new Date();
                var diff = new Date(time).getTime() - (now.getTime() + this.clockDiff);
                if (diff <= 0) {
                    return '\u00A0';
                }
                var s = '';
                var hours = Math.floor(diff / 60 / 60 / 1000);
                diff -= hours * 60 * 60 * 1000;
                var minutes = Math.floor(diff / 60 / 1000);
                diff -= minutes * 60 * 1000;
                var seconds = Math.floor(diff / 1000);
                diff -= seconds * 1000;
                if (hours > 0)
                    s += hours + 'h';
                if (s || minutes > 0)
                    s += minutes + 'm';
                s += seconds + 's';
                return s;
            },
            updateClockDiff: function (xhr) {
                var serverClock = new Date(xhr.getResponseHeader('Date'));
                this.clockDiff = serverClock.getTime() - new Date().getTime();
            }
        }
    });
    app.loadQuizzes(true);

    var displayLiveTimes = function () {
        for (var i = 0; i < app.liveTimes.length; i++) {
            var pair = app.liveTimes[i];
            if (!pair[1])
                continue;
            Vue.set(app, pair[0], app.makeCountdown(pair[1]));
        }
    };
    window.setInterval(displayLiveTimes, 1000);

    var updateRefreshes = function () {
        for (var i = 0; i < app.refreshes.length; i++) {
            app[app.refreshes[i]]();
        }
    };
    window.setInterval(updateRefreshes, 2000);

</script>

</body>
