<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CodeGrinder Quiz App</title>
  <script src="vue.js"></script>
  <style>
    body { font-size: 16px; }
    label, input, button { display: block; }
    input.text { margin-bottom: 12px; width: 95%; padding: .4em; }
    textarea { font-size: inherit; width: 90%; }
    fieldset { padding: 0; border: 0; margin-top: 25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    td, th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    button.response { background-color: #0f0; }
  </style>
</head>

<body>

<div id="app">

  <!------------------------>
  <!-- Pick question page -->
  <!------------------------>
  <div v-if="questions.length > 0 && !openQuestion && !errorMessage">
    <h1>CodeGrinder Quiz Questions</h1>
    <table>
      <thead>
        <tr>
          <th>Note</th>
          <th>Open</th>
        <tr>
      </thead>
      <tbody>
        <tr v-for="question in questions">
          <td>{{ question.note }}</td>
          <td><button v-on:click="openQuestion = question">{{ question.countDown }}</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!---------------------------->
  <!-- Answer question page   -->
  <!---------------------------->
  <div v-if="openQuestion && !errorMessage">
    <p>{{ openQuestion.note }}</p>

    <!-- Multiple choice -->
    <div v-if="openQuestion.isMultipleChoice">
      <p v-for="answer in openQuestion.answers">
        <button v-on:click="saveResponse(openQuestion, answer.answer)" v-bind:class="{ 'response': answer.answer == responses[openQuestion.id] }">{{ answer.answer }}</button>
      </p>
    </div>

    <!-- Fill in the blank -->
    <div v-if="!openQuestion.isMultipleChoice">
      <textarea rows="5" v-model="responses[openQuestion.id]"></textarea>
      <button v-on:click="saveResponse(openQuestion, responses[openQuestion.id])">Save</button>
    </div>

    <p>{{ openQuestion.countDown }}</p>
  </div>

  <!------------------------>
  <!-- No questions page  -->
  <!------------------------>
  <div v-if="questions.length == 0 && !errorMessage">
    <h1>No questions currently available</h1>
    <p>This will automatically refresh when a question opens</p>
  </div>

  <!------------------------>
  <!-- Error message page -->
  <!------------------------>
  <div v-if="errorMessage">
    <h1>Something went wrong</h1>
    <p>{{ errorMessage }}</p>
    <p><button v-on:click="errorMessage = null">Dismiss</button></p>
  </div>

</div>

<script>
    var QueryString = (function () {
        // this function is anonymous and is executed immediately
        // the return value is assigned to QueryString
        var query_string = {};
        var query = window.location.search.substring(1);
        var vars = query.split('&');
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split('=');
            var key = pair[0];
            var value = decodeURIComponent(pair[1]);
            var old_value = query_string[key];

            // first entry with this name, store value as a string
            if (typeof old_value === 'undefined') {
                query_string[key] = value;

            // second entry with this name, convert into a list
            } else if (typeof old_value === 'string') {
                query_string[key] = [ old_value, value ];

            // third or later entry with this name, append to list
            } else {
                old_value.push(value);
            }
        } 
        return query_string;
    })();
    var closedAt = function (question) {
        if (!question.openedAt)
            return null;
        return new Date(new Date(question.openedAt).getTime() + question.openSeconds * 1000);
    };
    var makeCountdown = function (time) {
        var now = new Date();
        var diff = time.getTime() - (now.getTime() + clockDiff);
        if (diff <= 0) {
            return '\u00A0';
        }
        var s = '';
        var hours = Math.floor(diff / 60 / 60 / 1000);
        diff -= hours * 60 * 60 * 1000;
        var minutes = Math.floor(diff / 60 / 1000);
        diff -= minutes * 60 * 1000;
        var seconds = Math.floor(diff / 1000);
        diff -= seconds * 1000;
        if (hours > 0)
            s += hours + 'h';
        if (s || minutes > 0)
            s += minutes + 'm';
        s += seconds + 's';
        return s;
    };

    var app = new Vue({
        el: '#app',
        data: {
            origin: document.location.origin + '/v2',
            assignmentID: Number(QueryString.assignment),
            clockDiff: 0,
            errorMessage: null,
            questions: [],
            openQuestion: null,
            responses: {},
            currentPage: ''
        },
        methods: {
            //
            // XMLHttpRequest helpers
            //
            get: function (url, callback) {
                var that = this;
                var req = new XMLHttpRequest();
                req.open('GET', url);
                req.setRequestHeader('Accept', 'application/json');
                req.onload = function () {
                    that.updateClockDiff(this);
                    if (req.readyState == 4 && req.status == "200")
                        callback(JSON.parse(this.response));
                    else
                        that.errorMessage = this.response;
                };
                req.send(null);
            },
            post: function (url, obj, callback) {
                var that = this;
                var req = new XMLHttpRequest();
                req.open('POST', url);
                req.setRequestHeader('Accept', 'application/json');
                req.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
                req.onload = function () {
                    that.updateClockDiff(this);
                    if (req.readyState == 4 && req.status == "200")
                        callback(JSON.parse(this.response));
                    else
                        that.errorMessage = this.response;
                };
                req.send(JSON.stringify(obj));
            },

            //
            // Pick question page
            //
            loadQuestions: function () {
                var that = this;
                this.get(this.origin + '/assignments/' + this.assignmentID + '/questions/open', function (lst) {
                    // update the question list, but preserve the open question if applicable
                    var openQuestionID = 0;
                    if (that.openQuestion)
                        openQuestionID = that.openQuestion.id;
                    that.openQuestion = null;
                    for (i = 0; i < lst.length; i++) {
                        if (lst[i].id == openQuestionID) {
                            that.openQuestion = lst[i];
                        }

                        // update countdown
                        lst[i].countDown = that.makeCountdown(closedAt(lst[i]));
                    }

                    // auto-open if there we go from no questions to one question
                    if (that.questions.length == 0 && lst.length == 1) {
                        that.openQuestion = lst[0];
                    }

                    that.questions = lst;
                });
            },

            //
            // Answer question page
            //
            saveResponse: function (question, response) {
                var that = this;
                var res = {
                    assignmentID: this.assignmentID,
                    questionID: question.id,
                    response: response
                };
                this.post(this.origin + '/responses', res, function (elt) {
                    that.responses[question.id] = response;
                    that.openQuestion = null;
                });
            },

            makeCountdown: function (time) {
                var now = new Date();
                var diff = new Date(time).getTime() - (now.getTime() + this.clockDiff);
                if (diff <= 0) {
                    return '\u00A0';
                }
                var s = '';
                var hours = Math.floor(diff / 60 / 60 / 1000);
                diff -= hours * 60 * 60 * 1000;
                var minutes = Math.floor(diff / 60 / 1000);
                diff -= minutes * 60 * 1000;
                var seconds = Math.floor(diff / 1000);
                diff -= seconds * 1000;
                if (hours > 0)
                    s += hours + 'h';
                if (s || minutes > 0)
                    s += minutes + 'm';
                s += seconds + 's';
                return s;
            },
            updateClockDiff: function (xhr) {
                var serverClock = new Date(xhr.getResponseHeader('Date'));
                this.clockDiff = serverClock.getTime() - new Date().getTime();
            }
        }
    });
    app.loadQuestions();

    var updateCountDowns = function () {
        for (var i = 0; i < app.questions.length; i++) {
            app.questions[i].countDown = app.makeCountdown(closedAt(app.questions[i]));
            Vue.set(app.questions, i, app.questions[i]);
        }
    };
    window.setInterval(updateCountDowns, 1000);

    var updateQuestions = function () {
        app.loadQuestions();
    };
    window.setInterval(updateQuestions, 5000);
</script>

</body>
</html>
