#!/sbin/openrc-run

depend() {
    need docker
    need ntpd
}

start_pre() {
    ewaitfile 30 /var/run/docker.sock
}

command="/home/russ/go/bin/server"
command_args="-daycare"
command_user="russ:russ"
command_background="true"
pidfile="/run/${RC_SVCNAME}.pid"
capabilities="^cap_net_bind_service"
output_logger="logger -t codegrinder"
error_logger="logger -t codegrinder"
