[Unit]
Description=CodeGrinder main service
Requires=postgresql.service
After=postgresql.service
Requires=docker.service
After=docker.service

[Service]
Type=simple
User=russ
ExecStart=/usr/local/bin/codegrinder -ta -daycare
Restart=always
RestartSec=5
