[Unit]
Description=CodeGrinder server
Requires=docker.service
After=docker.service

[Service]
Type=simple
User=codegrinder
ExecStart=/usr/local/bin/codegrinder -ta -daycare --config /etc/codegrinder/config.json
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
