#!/sbin/openrc-run

depend() {
    need docker
    need ntpd
}

start_pre() {
    ewaitfile 30 /var/run/docker.sock
}

supervisor="supervise-daemon"
respawn_delay=2
respawn_max=10
respawn_period=300

command="/usr/local/bin/codegrinder-server"
command_args="-ta -daycare"
command_user="russ:russ"
command_background="true"
pidfile="/run/${RC_SVCNAME}.pid"
output_logger="logger -t codegrinder"
error_logger="logger -t codegrinder"
